node_modules/
venv/
__pycache__/
*.pyc
.env
.vscode/
*.sqlite3
*.sqlite
.DS_Store
*firebase-adminsdk*.json
be2/uploads/
chicken-poultry/
yarn.lock
package-lock.json

# --- Tambahan untuk Service Account Key Firebase ---
*.json.json
*serviceAccountKey*.json"*.tar.gz" 

*.json
!package.json
!tsconfig*.json
!jsconfig*.json
firebase-credentials.json
serviceAccountKey.json
.env
.env.*